<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <a href="/" style="text-decoration: none;"><button>Home</button></a><br><br>
    <h2>You are about to edit this user : <%= user.email %></h2>
    <form method="post" action="/users/<%= user.id %>?_method=PATCH">
        <textarea name="username"><%= user.username %></textarea><br><br>
        <input type="password" name="password" placeholder="Enter Password"><br><br>
        <button>Edit</button>
    </form>
</body>
</html>